@import "tailwindcss";

@layer base {
  :root {
    --slide-ratio: calc(16 / 9);
    --slide-base-width: 88em;
    --slide-max-width: min(88em, 92vw);
    --slide-scale: 1;

    --background: hsl(0, 0%, 2%);
    --muted: hsl(215 16% 70%);
    --text: hsl(0 0% 98%);
    --accent: hsl(266 100% 70%);
  }

  body {
    background: var(--background);
    color: var(--text);
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
